.main-header__top {
  min-height: 100px; //temporary
  display: flex;
  align-items: center;
}

.main-header__logo {
  width: 154px;
  height: 34px;
}

.main-header__intro {
  min-height: 800px; //temporary
  background-color: #999;
  background-image: url("../../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  .container {
    display: flex;
    flex-direction: column;
    // text-align: center;
    align-items: center;
  }
}

.main-header__title {
  font-size: 120px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 190px;
  margin-bottom: 50px;
  position: relative;
  padding-right: 90px;
  padding-left: 90px;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #15a4fa;
    bottom: -30px;
    left: 0;
    right: 0;
  }
}

.main-header__desc {
  font-size: 20px;
  color: #fff;
  margin-bottom: 60px;

  span {
    text-transform: uppercase;
  }
}
