.main-footer {
  background-color: #f6f9f9;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }
}

.main-footer__copyright {
  color: #999;
}

